<div id="login-box">
  <%= form_tag new_login_path, id: 'login-form' do %>
  	<h4>Login</h4>
  	<div class="row align-spaced">
  		<div class="small-9 columns">
	    	<%= email_field_tag :email, nil, placeholder: "Email", required: true, title: "Email", maxlength: "100" %>
	    </div>
	    <div class="small-9 columns">
  	  	<%= password_field_tag :password, nil, placeholder: "Password", required: true, title: "Password", maxlength: "50" %>
  	  </div>
	    <div class="small-9 columns">
    		<%= submit_tag "Log In", class: "button submit-button", id: "login-button" %>
  		</div>
 		</div>
  <% end %>
</div>