<% if event.user == current_user %>
  <p>Your Event!</p>
<% elsif event.attending_event?(current_user) %>
  <%= button_to "", event_path(event), method: :put, title: "Leave Event", class: "button leave-event", params: {act: "leave"} %>
<% else %>
  <%= button_to "", event_path(event), method: :put, title: "Join Event", class: "button join-event", params: {act: "join"} %>
<% end %>