<% games.each do |game| %>
	<div class="event-game", title="Game">
		<input name="event[games][]" id="event_games_" value="<%= game.id %>" class="event-create-game-input">
		<div>
			<p class="event-create-game-label"><%= game.name %></p>
			<%= link_to "x", "", class: "remove-event-game-button", title: "remove" %>
		</div>
	</div>
<% end %>