<% if event.user == current_user %>
  <p>Your Event!</p>
<% elsif event.attending_event?(current_user) %>
  <%= link_to image_tag("icons/hearts/heart5.1Orange", size: '80', title: "Leave Event", class: "button"), event_path(event), method: :delete %>
<% else %>
  
  <%= link_to image_tag("icons/hearts/heart2.1Orange", size: '80', title: "Join Event", class: "button"), event_path(event), method: :put %>
<% end %>