<div class="row align-spaced">
	<div class="small-10 medium-6 columns">
		<%= link_to "Create Event", new_event_path, class: "button", id: "event-create-link"  %>
	</div>
  <div class="small-7 columns" id="event-create-box">
  	<%= render partial: 'event_create' %>
  </div>
</div>

<div class="row medium-collapse large-uncollapse align-spaced">
<!-- <div class="small-1 columns"></div> -->
	<div class="small-12 large-10 columns index-main">
		<% if @events && @events.length > 0 %>
	  	<%= render partial: 'index_main', locals: { events: @events } %>
		<% else %>
			<p>No Events</p>
		<% end %>
		<%= will_paginate @events %>
	</div>
</div>