<div class="row">
  <div id="event-create-ajax-div">
  </div>
</div>
<div class="row">
	<div class="small-9 columns index-main">
		<% if @events && @events.length > 0 %>
	  	<%= render partial: 'index_main', locals: { events: @events } %>
		<% else %>
			<p>No Events</p>
		<% end %>
	</div>
</div>