<div class="row">
	<div class="small-4 columns">
		<%= link_to "+  Create an Event", new_event_path, class: "button", id: "event-create-link"  %>
	</div>
  <div class="small-8 columns" id="event-create-ajax-div">
  	<%= render partial: 'event_create' %>
  </div>
</div>

<div class="row">
	<div class="small-9 columns index-main">
		<% if @events && @events.length > 0 %>
	  	<%= render partial: 'index_main', locals: { events: @events } %>
		<% else %>
			<p>No Events</p>
		<% end %>
		<%= will_paginate @events %>
	</div>
</div>