<div class="user-event-buttons text-center">
<%= button_to "", event_cancel_path(event), title: "Cancel Event", class: "delete-event" %>
<%= button_to "", edit_event_path(event), title: "Edit", class: "edit-event" %>
</div>