<%= link_to "create new event", new_event_path %>

<% @events.each do |event| %>
	<h3><%= link_to event.title, event_path(event) %></h3>
	<p><%= truncate event.description,	length: 30 %></p>
	<br>
<% end %>