<div id="faces">
  <h4>Vibe?</h4>
  <div class="face" id="face1">
    <%= image_tag("angryFace.gif", size: '30') %>
  </div>
  <div class="face" id="face2">
    <%= image_tag("sadFace.gif", size: '30') %>
  </div>
  <div class="face" id="face3">
    <%= image_tag("starFace.gif", size: '30') %>
  </div>
  <div class="face" id="face4">
    <%= image_tag("happyFace.gif", size: '30') %>
  </div>
</div>