<div id="faces">
  Vibe?
  <% @vibes.each do |vibe| %>
    <div data-tooltip class="face has-tooltip" >
      <%= image_tag("#{vibe.pic}", size: '30') %>
      <%= check_box_tag "review[vibes][]", "#{vibe.id}", false, class: "vibe-button" %>
    </div>
  <% end %>
</div>
