<div id="faces">
  <div>Vibe?</div>
  <% @vibes.each do |vibe| %>
    <div class="face" >
      <%= image_tag("#{vibe.pic}", size: '40') %>
 	    <%= check_box_tag "review[vibes][]", "#{vibe.id}", false, class: "vibe-button" %>
 	    <span class="vibe-name"><%= vibe.name %></span>
    </div>
  <% end %>
</div>
