<div id="week" >
	<div class="week" id="midweek">
    <%= label_tag "Mid-Week" %>
    <%= radio_button_tag "review[week]", "Mid-Week", false, class: "week-selector" %>
  </div>
 	<div class="week" id="weekend">
    <%= label_tag "Weekend" %>
    <%= radio_button_tag "review[week]", "Weekend", false, class: "week-selector" %>
  </div>
</div>