<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<h1>Contact!</h1>
		<p>from: <%= @report.name %> </p>
		<h2>Message:</h2>
		<p><%= @message %></p>

		<p>Date: <%= @date %></p>
		<p>Reply to: <%= @report.email %></p>
	</body>
</html>