<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<h1>Morning Test!</h1>
		<p>From: PubGamer Test Email</p>
		<p>It worked!</p>

		<p>Sent: <%= @date %></p>
	</body>
</html>