<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<h1>Hello. Welcome <%= @user.user_name %> !</h1>
		<p>Thanks for signing up!</p>
		<p>Visit up anytime at <%= @url %>.</p>
		<br><br>
		<p>-PubGamer Team</p>
	</body>
</html>