<div class="row align-spaced">
	<div class="columns" id="user-events">
		<%= render partial: 'user_events', locals: { user: user, events: user.upcoming_events } %>
	</div>
</div>

<div class="row columns" id="profile-bottom-space">
</div>