<body class="background">
  <div id="new-user-header" class="medium-12 medium-centered text-center columns">
    <h3 class="registration-header">Register</h3>
  </div>
  <%= render 'registration_form' %>
</body>