<div id="edit-user-box">
  <%=form_for @user, id: 'edit-user-form', html: { multipart: true } do  |f| %>
  	<h4>Update</h4>
    <%= render partial: 'user_form', locals: { f: f, user: @user, new_user: false } %>
    <div class="row align-spaced">
      <div class="columns">
        <%= f.submit "Update", class: 'button submit-button', id: "edit-user-button" %>
      </div>
      <div class="columns">
        <%= link_to "change password", user_edit_password_path(@user), id: "edit-password-link" %>
      </div>
    </div>
  <% end %>
</div>