<div class="venue-create-game" title="games">
	<input type="checkbox" name="venue[games][]" id="venue_games_" value="<%= game.id %>" class="venue-create-game-button"><br>
	<p class="venue-create-game-label"><%= game.name %></p>
	<button class="remove-venue-game-button" title="remove">x</button>
</div>