
<div class="row align-spaced" >
	<div class="small-10 medium-6 columns">
			<%=link_to("Add New Venue!", new_venue_path, class: "button", id: "venue-create-link") %>
	</div>
</div>

<div class="row align-spaced">
	<div class="small-12 medium-10 columns index-main">
		<% if @venues && @venues.length > 0 %>
			<% @venues.each do |venue| %>
  			<%= render partial: 'index_venue_display', locals: { venue: venue } %>
			<% end %>
  	<% else %>
  		<p>No Venues</p>
		<% end %>
  		<%= will_paginate @venues %>
	</div	>
</div>