
<div class="row" >
	<div class="small-1 columns">
	</div>
	<div class="small-4 columns">
			<%=link_to("Add New Venue!", new_venue_path, class: "button", id: "venue-create-link") %>
	</div>
	<div class="small-7 columns">
	</div>

</div>
<div class="row">
	<div class="small-1 columns">
	</div>
	<div class="small-9 columns index-main">
		<% if @venues && @venues.length > 0 %>
  		<%= render partial: 'index_main', locals: { venues: @venues } %>
  	<% else %>
  		<p>No Venues</p>
		<% end %>
  		<%= will_paginate @venues %>
	</div	>
</div>