
<div class="row" >
	<div class="small-3 columns" id="venue-index-fav">
		<div>
			<%=link_to("Add New Venue!", new_venue_path, class: "button venue-index-head") %>
		</div>
		<h2 class="text-center">My Venues</h2>
		<div id="venue-fav-sidebar">
			<% @favorites.each do |fav| %>
				<%= render partial: 'favorite_display', locals: { favorite: fav } %>
			<% end %>
		</div>
	</div>

	<div class="small-8 columns index-main">
		<% if @venues && @venues.length > 0 %>
  		<%= render partial: 'index_main', locals: { venues: @venues } %>
  	<% else %>
  		<p>No Venues</p>
		<% end %>
	</div	>
</div>