<div class="row small-collapse expanded columns align-spaced index-main" id="map-wrapper">
  <div id="google-map">
    <div id="all-venues-map">
    </div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKbw_KdUjv9tX0YJFvT1AOe3nI82-Osvw&libraries=places&callback=allVenuesMap">
    </script>
  </div>

</div>