<div>Description: <%=@venue.description%></div>
<div>Address: <%=@venue.address%></div>
<div>Neighborhood: <%=@venue.address%></div>

<%= link_to "add favorite!", user_path(current_user), id: "fav" %>