<div class="row align-center" >
	<div class="small-4 columns" >
		<h2 class="text-center">Venues</h2>
	</div>
</div>

<div class="row align-spaced" >
	<div class="small-2 columns">
		<%=link_to("Add New Venue!", new_venue_path, class: "button venue-index-head") %>
	</div>


	<div class="small-4 columns">
		<form>
			<div class="venues-search">

				<input id="venues-search-txt" class="venue-index-head" name="query" placeholder="game, address, name" autofocus autocomplete="on">

				<div class="results" id="venues-search-results"></div>
			</div>
	</div>
	<div class="small-2 columns" >
			<%= submit_tag 'Search', class: "button venue-index-head", id: "venue-search-button" %>
		</form>
	</div>
</div>


<div class="row" >
	<div class="small-3 columns" id="venue-index-fav">
		<h2 class="text-center">My Venues</h2>
		<div id="venue-fav-sidebar">
			<% @favorites.each do |fav| %>
				<%= render partial: 'favorite_display', locals: { favorite: fav } %>
			<% end %>
		</div>
	</div>

	<div class="small-8 columns" >
		<% if @venues && @venues.length > 0 %>
  		<%= render partial: 'index_main', locals: { venues: @venues } %>
  	<% else %>
  		<p>No Venues</p>
		<% end %>
	</div	>
</div>