<div class="columns" id="map-wrapper">
<input>
  <div id="google-map">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map">
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKbw_KdUjv9tX0YJFvT1AOe3nI82-Osvw&libraries=places&callback=initMap"
           async defer>
    </script>
  </div>

</div>