    <div class="venues-search">
      <input type="text" id="venues-search-txt" autofocus>
      <div class="results" id="venues-search-results"></div>
    </div>

    <%= content_for :script do %>
  new app.Venues;
<% end %>