
<div id="venue-show">
<%= render partial: 'venue' %>

	<div class="row" >
		<div class="small-7 columns" >
			<h2 class="text-center">Reviews</h2>
			<div id="reviews">
				<% if @venue.has_reviews? %>
					<div id="review-index">
		  			<%= render partial: 'reviews/index', locals: { reviews: @venue.recent_reviews } %>
		  		</div>
		  	<% else %>
		  		<div id="no-reviews">
		  			<%= render partial: 'no_reviews' %>
					</div>
				<% end %>
			</div>
		</div>
		<div class="small-5 columns text-center" >
		  <h2>Add Review</h2>
		  <div id="new-review-form" >
				<%= render partial: 'reviews/new'%>
			</div>
		</div>
	</div>
</div>