
<div id="venue-show">
<%= render partial: 'venue' %>

<div class="row" >
	<div class="small-7 columns" >
		<h2 class="text-center">Reviews</h2>
		<div id="reviews">
			<% if @venue.has_reviews? %>
				<div id="review-index">
	  			<%= render partial: 'reviews/index', locals: { reviews: @venue.recent_reviews } %>
	  		</div>
			<% end %>
		</div>
	</div>

	<div class="small-5 columns" >
	  <h2 class="text-center">Add a review!</h2>
		<% if @errors %>
			<% @errors.each do |message| %>
				<p><%= message %></p>
			<% end %>
		<% end %>
		<%= render partial: 'reviews/new' %>
	</div>
</div>
</div>