<h3><%=@venue.name%></h3>

<%= render partial: 'venue' %>

<% if @venue.reviews.length > 0 %>
  <%= render partial: 'reviews/index', locals: { reviews: @venue.reviews } %>
<% end %>

  <h2>Add a review!</h2>

<%= render partial: 'reviews/new' %>