<div class="octopuzzle">
	<h1>OctoPuzzle</h1>

	<div class="puzzle-box">
		<div id="a" class="puzzle-piece">
		</div>
		<div id="b" class="puzzle-piece">
		</div>
		<div id="c" class="puzzle-piece">
		</div>
		<div id="d" class="puzzle-piece">
		</div>
		<div id="e" class="puzzle-piece">
		</div>
		<div id="f" class="puzzle-piece">
		</div>
		<div id="g" class="puzzle-piece">
		</div>
		<div id="h" class="puzzle-piece">
		</div>
		<div id="i" class="puzzle-piece">
		</div>	
	</div>
	<div class="win-message">
		WIN
	</div>

	<div>
		<button id="octopuzzle-start-button" class="button">Start!</button>
		<button id="octopuzzle-reset-button" disabled="true" class="button">Reset</button>
		<button id="octopuzzle-random-button" class="button">Random</button>
	</div>
</div>