<div class="update-game" title="game">
	<input name="games[]" id="update_game_" value="<%= game.id %>" class="update-game-input">
	<div>
		<p class="update-game-label"><%= game.name %></p>
		<%= link_to "x", "", class: "remove-game-button", title: "remove" %>
	</div>
</div>