<div class="row header-row" >
  <div class="small-3 columns">
    <h2 id="page-header"></h2>
  </div>

  <div class="small-6 columns" id="header-search-container">
		<form id="search-form">
			<div class="search">

				<input id="search-txt" class="index-head" name="term" placeholder="game, address, name" autofocus autocomplete="on">

				<div class="results" id="search-results"></div>
			</div>
			<%= submit_tag 'Search', class: "button index-head", id: "search-button" %>
		</form>
  </div>
</div>


<div class="row align-spaced header-row" >
	<div class="small-4 columns">
	<h2 id="page-header"></h2>
	</div>
	<div class="small-8 columns" id="header-search-container">

	</div>
</div>


<div class="row">
  <div class="small-12 columns">
  <span id="side-bar-linebreak"></span>
  </div>
</div>