<div class="row" id="header-row" >
  <div class="small-4 hide-for-small-only medium-2 columns text-right">
    <% if current_user %>
      <h2 id="page-header"><%= link_to "#{current_user.user_name}", user_path(current_user), id: "user" %></h2>
    <% end %>
  </div>
  <div class="small-4 hide-for-small-only  medium-2 columns text-left">
    <% if current_user %>
      <%= link_to "Logout", logout_path, method: :delete, class: "button", id: "logout-button" %>
    <% else %>
      <%= link_to "login", root_path %>
    <% end %>
  </div>

  <div class="small-9 medium-5 columns text-right" >
    <%= render partial: 'shared/search_form' %>
  </div>
</div>
