<form id="search-form">
  <div class="search text-center">
    <input id="search-txt" class="" name="term" placeholder="start typing..." autofocus autocomplete="on">
    <div class="results" id="search-results"></div>
  	<%= submit_tag 'Search', class: "button", id: "search-button" %>
  </div>
</form>