<form id="search-form">
  <div class="search">
    <input id="search-txt" class="index-head" name="term" placeholder="game, address, name" autofocus autocomplete="on">
    <div class="results" id="search-results"></div>
  </div>
  <%= submit_tag 'Search', class: "button", id: "search-button" %>
</form>