<div class="row small-collapse expanded small-up-1 medium-up-2 large-up-3 align-spaced index-main">
	<% if @venues && @venues.length > 0 %>
		<% @venues.each do |venue| %>
 			<%= render partial: 'index_venue_display', locals: { venue: venue } %>
		<% end %>
 	<% else %>
 		<p>No Venues</p>
	<% end %>
</div>
<div class="row columns text-center">
	<%= will_paginate @venues %>
</div>