<div id="octopus-avg-rating" value="<%= current_rating %>">
  <div id="dimmed"></div>
  <div id="opaque"></div>
	<p><%= current_rating %> avg from <%= @venue.not_deleted_reviews.length %> reviews</p>
</div>