/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


body {
  background-color: #816687;
  min-width: 900px;
  margin: 0 auto;
}

#welcome-body {
  background: url(Pool_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*event index styling*/

.posted-event-container {
  border: 1px solid black;
  width: 60%;
  height: 175px;
  margin-right: auto;
  margin-left: auto;
}

.event-index-title {
  margin-left: 187px;
  margin-bottom: 10px;
  font-size: 25px
}

.event-index-location {
  margin-left: 187px;
  margin-top: -16px;
}

.event-index-games {
  margin-left: 187px;
  margin-top: -16px;
}

.event-index-date {
  margin-left: 187px;
  margin-top: -16px;
}

.event-index-time {
  margin-left: 187px;
  margin-top: -16px;
}


.event-index-limit {
  margin-left: 187px;
  margin-top: -16px;
}

.event-index-user {
  margin-left: 385px;
  margin-top: -147px;
}

.event-index-join {
  margin-left: 460px;
  margin-top: 60px;
}

/*event create styling*/

#event-create-container {
  border: 1px solid black;
  margin-right: 34%;
  margin-left: 34%;
  text-align: center;
}


#event_title {
  width: 90%;
  margin: 0 auto;
}

#event_location {
  width: 90%;
  margin: 0 auto;
}

#event_date {
  width: 90%;
  margin: 0 auto;
}

#event_time {
  width: 90%;
  margin: 0 auto;
}

#event_description {
  width: 90%;
  margin: 0 auto;
}

#event_limit {
  width: 19%;
  margin-left: 33%;
  margin-top: -46px;
  }

#event-create-submit-button {
  margin-left: 50%;
  margin-top: -80px;
  width: 80px;
}

/*#max-guest-container {
  margin-right: 34%;
  margin-left: 34%;
  border: 1px solid black;
}*/

/*Event show styling*/

#event-show-title {
  text-align: center;
  /*border: 1px solid black;*/
}

#event-show-location {
  font-size: 30px;
  margin-left: 50px;
}

#event-show-games {
  font-size: 30px;
    margin-left: 50px;

}

#event-show-date {
  font-size: 30px;
    margin-left: 50px;
}

#event-show-time {
  font-size: 30px;
    margin-left: 50px;

}

#event-show-max {
  font-size: 30px;
    margin-left: 50px;

}

#event-show-description {
  font-size: 30px;
    margin-left: 50px;

}

#event-show-content {
  border-right: 1px solid black;
}

#comment-div {
  /*float: right;*/
    /*border: 1px solid black;*/

}

#comment_body {
  width: 400px;
}

#comment-button {
  float: right;
  margin-right: 14%;
  margin-top: -63px;
  height: 45px;
}


/*venue create styling*/



#venue-create-form {
  position: relative; bottom: 150px; left: 216px; z-index: 99;
  display: none;
  background: rgba(73, 115, 77,0.9);
  border: 1px;
  width: 650px;
  height: 150px;
  border-top-right-radius: 0.6em;
  border-top-left-radius: 0.6em;
}

/*@media  screen and (max-device-width: 480px) (max-width: 1000px) {
    #venue-create-form {
      position: absolute; bottom: 109px; left: 150px; z-index: 99;
      display: none;
      background: rgba(200, 117, 40,0.9);
      border: 1px;
      width: 650px;
      height: 150px;
      border-top-right-radius: 0.6em;
      border-top-left-radius: 0.6em;
    }
}*/

#venue_name {
  float: left;
  margin-left: 5px;
  margin-top: 7px;
  margin-right: 9px;
  width: 315px;
}

#venue_address {
  width: 315px;
}

#venue-address-wrapper {
  float: right;
  margin-top: 7px;
  margin-right: 5px;
  width: 315px;
}

#other-text-field {
  width: 185px;
  display: inline-block;
}

#venue-games-field {
  margin-left: 7px;
}

#other-game-field {
  margin-left: 8px;
}

#venue-create-submit-button {
  margin-left: 270px;
  margin-top: -81px;
}

#google-map {
  width: 702px;
  margin-left: auto;
  margin-right: auto;
}

/*button that appears from map venue click*/
#createVenue {
  color: red;
  position: absolute;
  right: -2px;
  /*top: 75px;*/
  bottom: -8px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #map {
    height: 100%;
  }
  .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  .pac-container {
    font-family: Roboto;
  }

  #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
  }

  #type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  #target {
    width: 345px;
  }

#map {
  width: 700px;
  height: 500px;
}


h1 {
  color: white;
  text-align: center;
  font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
  font-size: 50px;
}

body ul{
  list-style-type: none;
}

body a {
  text-decoration: none;
}

body ul li {
  display: inline-block;
  padding: 0px 10px;
  margin: 0px -3.5px;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

body ul a {
  text-decoration: none;
  color: white;
}

nav {
  margin-left: -12px;
}

#yield {
  margin-left: 25px;
  padding-left: 30px;
  border-left: 1px solid white;
}

#homepage {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
}

.login-register form {
  font-size: 30px;
  text-decoration: none;
  float: left;
}

#form-header {
  margin-left: 50px;
  position: relative;
}

.login-register input {
  background-color: black;
  width: 150px;
  height: 80px;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

h1 {
  text-align: center;
  font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
  font-size: 50px;
}

#login {
  font-size: 46px;
  position: relative;
  float: left;
  margin-top: 140px;
  margin-left: 120px;
}

#register {
  position: relative;
  float: right;
  margin-top: -100px;
  margin-right: 105px;
  font-size: 46px;
  color: #faebd7;
}

#login a {
  text-decoration: none;
  color: #faebd7;
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
}

#login a:visited {
  text-decoration: none;
  color: #faebd7;
}

#login a:hover {
  background-color: #696969;
  border-radius: 6px;
  transition: background-color .5s linear;
}

#register a:visited {
  text-decoration: none;
  color: #faebd7;
}

#register a {
  text-decoration: none;
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  color: #faebd7;
}

#register a:hover {
  background-color: #696969;
  border-radius: 6px;
  transition: background-color .5s linear;
}

#form-container {
  margin: 0 auto;
  width: 255px;
  height: 375px;
}

#new-session {
  text-align: center;
  padding: 6px 0px 0px;
  background-color: black;
  opacity: .9;
  border-radius: 9px;
}

#register-title {
  margin-bottom: 15px;
}

#right {
float: right;
  width: 300px;
  display: inline-block;
  margin-right: 200px;
}

#left {
  margin-left: 20px;
  position: relative;
  width: 400px;
  display: inline-block;
  top: 0px;
}
