/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.modal
 *= require foundation_and_overrides

 */

h1 {
  text-align: center;
  font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
  font-size: 150px;
  font-weight: bold;
  color: #2b2936;
}

body ul{
  list-style-type: none;
}

body a {
  text-decoration: none;
}

body ul li {
  display: inline-block;
  padding: 0px 10px;
  margin: 0px -3.5px;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

body ul a {
  text-decoration: none;
  /*color: white;*/
}

nav {
  margin-left: -12px;
}

body {
  /*background-color: #9a849f;*/
  background-color: #FFFFF0;
  min-width: 900px;
  margin: 0 auto;
  min-width: 1013px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

/*#welcome-body {
  background: url(Pool_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

/*.columns {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}*/

/*
#event-create-container {
  border: 1px solid black;
  margin-right: 34%;
  margin-left: 34%;
  text-align: center;
  width: 350px;
}*/


/*#max-guest-container {
  margin-right: 34%;
  margin-left: 34%;
  border: 1px solid black;
}*/


/*venue create styling*/

#venue-create-form-container {

}
#venue-create-form {

  position: relative; bottom: 150px; left: -20px; z-index: 99;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -100px;
  /*border: 1px solid black;*/
  display: none;
  background: rgba(73, 115, 77,0.9);
  border: 1px;
  width: 650px;
  height: 150px;
  border-top-right-radius: 0.6em;
  border-top-left-radius: 0.6em;
}

/*@media  screen and (max-device-width: 480px) (max-width: 1000px) {
    #venue-create-form {
      position: absolute; bottom: 109px; left: 150px; z-index: 99;
      display: none;
      background: rgba(200, 117, 40,0.9);
      border: 1px;
      width: 650px;
      height: 150px;
      border-top-right-radius: 0.6em;
      border-top-left-radius: 0.6em;
    }
}*/

#venue_name {
  float: left;
  margin-left: 5px;
  margin-top: 7px;
  margin-right: 9px;
  width: 315px;
}

#venue_address {
  width: 315px;
}

#venue-address-wrapper {
  float: right;
  margin-top: 7px;
  margin-right: 5px;
  width: 315px;
}

#other-text-field {
  width: 185px;
  display: inline-block;
}

#venue-games-field {
  margin-left: 7px;
}

#other-game-field {
  margin-left: 8px;
}

#venue-create-submit-button {
  margin-left: 270px;
  margin-top: -81px;
}

#google-map {
  width: 702px;
  margin-left: auto;
  margin-right: auto;
}

/*button that appears from map venue click*/
#createVenue {
  color: red;
  position: absolute;
  right: -2px;
  /*top: 75px;*/
  bottom: -8px;
}

  #map {
    height: 100%;
  }
  .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  .pac-container {
    font-family: Roboto;
  }

  #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
  }

  #type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  #target {
    width: 345px;
  }

#map {
  width: 700px;
  height: 500px;
}


#yield {
  margin-left: 25px;
  padding-left: 30px;
  border-left: 1px solid white;
}

#homepage {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
}

#right {
float: right;
  width: 300px;
  display: inline-block;
  margin-right: 200px;
}

#left {
  margin-left: 20px;
  position: relative;
  width: 400px;
  display: inline-block;
  top: 0px;
}

.pagination > * {
  float: left;
}

/* For Jquery UI dialog modal:*/
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2B2936;
  opacity: 0.7;
}
.ui-front {
  z-index: 100;
  position: fixed;
}