#event-new-box form {
  /*padding: 3%;*/
  /*border-top-left-radius: 10px;*/
  /*border-top-right-radius: 10px;*/
}

#event-create-form {
  /*border-bottom-left-radius: 10px;*/
  /*border-bottom-right-radius: 10px;*/
  /*text-align: center;*/
  /*font-size: 30px;*/
}

/*#event-create-form label {*/
  /*color: #FBEBD4;*/
  /*font-weight: bold;*/
/*}*/

#event-create-form input, #event-create-form textarea {
  /*height: 25px;*/
  /*border-radius: 5px;*/
}

@media only screen and (min-width: 640px) {
  #event-create-form input, #event-create-form textarea {
    /*border-radius: 10px;*/
    /*height: 35px;*/
  }
}

#event-venue-results ul {
  font-size: 15px;
}

#event-create-form textarea {
  height: 60px;
}

#event-create-games {
  height: 130px;
  overflow-y: scroll;
  border-bottom: 3px solid rgba(244, 174, 53, 0.3);
}

#event-add-game {
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-top: -10px;
  border-bottom: 3px solid rgba(244, 174, 53, 0.3);
}

#event-add-game >* {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

#event-add-game button {
  padding: 5px;
  margin: 0px;
}

@media only screen and (min-width: 640px) {
  #event-create-form textarea {
    height: 120px;
  }

  #event-create-games {
    min-height: 25%;
  }
}

.game-button {
  /*position: fixed;*/
  opacity: 0;
}


.event-game {
  border: 1px solid #A893FF;
  /*border: 1px solid #FBEBD4;*/
  border-right: none;
  float: center;
  min-width: 20%;
  display: inline-block;
  /*border-radius: 40%/45%;*/
  border-radius: 7px;
  padding: 0px 3px;
  margin: 2px 1px;
}
.event-game div {
  margin-top: -12px;
  margin-bottom: -2px;
}

.event-game p, .event-game a {
  font-size: 16px;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  /*margin-top: -10px;*/
}

.event-game a {
  font-size: 12px;
  font-weight: bold;
  border: 1px solid;
  padding: 0px 3px;
  border-radius: 1px;
}

#event-create-button-div, #event-edit-button-div {
  clear: left;
}

#event-create-submit-button {
  background-color: #FFFFF0;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 10px;
}

.event-create-game-input {
  position: absolute;
  display: none;
  /*visibility: hidden;  */
}
