
#event-index-sidebar {
  border: 1px solid black;
}

#event-create-link {
  border: 1px solid black;
  font-size: 18px;
  padding: 0px 35px 4px 30px;
  margin-left: 0px;
  background: rgba(73, 115, 77, 1);
  border-radius: 5px;
}

.created-event-index-sidebar-div{
  margin-top: 8px;
  margin-left: 20px;
  /*border: 1px solid black;*/
}

.sidebar-break {
  color: black;
}

.side-bar-linebreak{
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    opacity: .6;
    margin-bottom: 9px;
}

.attending-event-index-sidebar-div{
  margin-top: -6px;
  margin-left: 20px;
  /*border: 1px solid black;*/
}

.time-event-index-sidebar{
 margin-top: -20px;
}

.games-event-index-sidebar{
  margin-top: -20px;
}


.posted-event-container {
  border: 1px solid black;
  width: 700px;
  height: 175px;
  margin-bottom: 13px;
}

.event-index-picture {
  border: 1px solid black;
  height: 155px;
  width: 155px;
  margin-left: 10px;
  margin-top: 10px;
}

.event-index-title {
  margin-left: 187px;
  margin-top: -160px;
  margin-bottom: 10px;
  font-size: 25px
}

.event-index-location {
  margin-left: 189px;
  margin-top: -16px;
}

.event-index-games {
  margin-left: 189px;
  margin-top: -16px;
}

.event-index-date {
  margin-left: 189px;
  margin-top: -16px;
}

.event-index-time {
  margin-left: 189px;
  margin-top: -16px;
}


.event-index-limit {
  margin-left: 189px;
  margin-top: -16px;
}

.event-index-user {
  margin-left: 385px;
  margin-top: -147px;
}

.event-index-join {
  margin-left: 460px;
  margin-top: 60px;
}