
#event-create-link {
  padding: 20px;
  font-size: 25px;
  border-radius: 20px;
  color: #EDD0AF;
  display: block;
  font-weight: bold;
  background-color: #2B2936;
  text-align: center;
}

.posted-event-container {
  border: 1px solid black;
  border-radius: 7px;
  width: 700px;
  height: 175px;
  margin-bottom: 13px;
}

.event-index-picture {
  border: 1px solid black;
  height: 155px;
  width: 155px;
  margin-left: 10px;
  margin-top: 10px;
  background-image: url("octopus0.3opacity.png");
  background-size: 100%;
}

.event-index-title {
  margin-left: 187px;
  margin-top: -160px;
  margin-bottom: 10px;
  font-size: 25px
}

.event-index-location {
  margin-left: 189px;
  margin-top: -16px;
}

.event-index-games {
  margin-left: 189px;
  margin-top: -16px;
}

.event-index-date {
  margin-left: 189px;
  margin-top: -16px;
}

.event-index-time {
  margin-left: 189px;
  margin-top: -16px;
}


.event-index-limit {
  margin-left: 189px;
  margin-top: -16px;
}

.event-index-user {
  margin-left: 385px;
  margin-top: -147px;
}

.event-index-join {
  margin-left: 460px;
  margin-top: 60px;
}

#event-create-form {
  padding: 6%;
  background-color: #2B2936;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  font-size: 30px;
  color: #FFFFF0;
}

#event-create-form label {
  color: #FFFFF0;
}

#event-create-form input, #event-create-form textarea {
  height: 35px;
  border-radius: 10px;
  background-color: #FFFFF0;
  text-align: center;
}

#event-create-form textarea {
  height: 120px;
}

.event-game {
  border-right: 2px solid #FFFFF0;
  float: left;
  width: 25%;
}

.event-game input {
  height: 15px;
}

.event-game label {
  margin: 0px;
  padding: 0px;
  margin-top: -25px;
}

#event-create-button-div {
  padding-top: 15px;
  clear: left;
}

#event-create-submit-button {
  background-color: #FFFFF0;
  color: #2B2936;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
}
