
#event-show-picture {
  border: 1px solid black;
  height: 300px;
  width: 900px;
  background-image: url("octopus0.3opacity.png");
  background-size: 35%;
  /*margin-left: 50px;*/
}

#event-show-content-container {
  border: 1px solid black;
  border-radius: 7px;
  width: 600px;
  height: 600px;
  margin-bottom: 13px;
}

#event-show-guest-list {
  border: 1px solid black;
}

#event-show-title {
  text-align: center;
  /*border: 1px solid black;*/
}

#event-show-location {
  font-size: 30px;
  margin-left: 10px;
}

#event-show-games {
  font-size: 30px;
  margin-left: 10px;
}

#event-show-date {
  font-size: 30px;
  margin-left: 10px;
}

#event-show-time {
  font-size: 30px;
    margin-left: 10px;
}

#event-show-max {
  font-size: 30px;
    margin-left: 10px;
}

#event-show-description-header {
  margin-left: 10px;
}

#event-show-description-content {
  font-size: 18px;
  margin-left: 10px;
}

#event-show-details {
  border-right: 1px solid black;
}

#event-show-comment-container {
  border: 1px solid black;

}

#comment_body {
  width: 400px;
}

#comment-button {
  float: right;
  margin-right: 14%;
  margin-top: -63px;
  height: 45px;
}
