#header-row {
  color: #FFFFF0;
  background-color: #EDD0AF;
  border-bottom: 6px solid #2B2936;
  padding-top: 20px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 575px) {
  #header-row {
    margin-top: 112px;
    width: 100%;
    position: fixed;
  }
}

#page-header {
  /*padding: 50px 0px 0px 15px;*/
  color: #2B2936;
  font-weight: bold;
}

#logout-button {
  /*margin-top: 52px;*/
/*  position: relative;
  margin: 0px;*/
}

#search-button{
  /*margin-left: 405px;*/
}

@media only screen and (min-width: 640px) {
  #header-row {
    width: 100%;
  }

  #page-header {
    padding: 0px;
  }
}