#header-row {
  color: #FFFFF0;
  background-color: #480000;
  padding-top: 20px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 575px) {
  #header-row {
    width: 100%;
  }
}

#page-header {
  color: #2B2936;
  font-weight: bold;
}

#logout-button {
  /*margin-top: 52px;*/
/*  position: relative;
  margin: 0px;*/
}


#search-form {
  width: 100%;
  /*display: inline-block;*/
}

.search {
  width: 70%;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

#search-txt {
  background-color: #FFFFF0;
  color: #480000;
  height: 40px;
  font-weight: bold;
  border: medium none;
  min-width: 80px;
  width: 100%;
  margin: 0px;
  padding-left: 7px;
}

#search-button{
  display: inline-block;
  margin: 0px;
  background-color: #A893FF;
  color: #FFFFF0;
  font-size: 20px;
  padding: 5px 2%;
  /*font-weight: bolder;*/
}

@media only screen and (min-width: 640px) {
  #header-row {
    width: 100%;
  }

  #page-header {
    padding: 0px;
  }
}