
.index-box {
  /*width: 90%;*/
  width: 30%;
  margin: 2% 0px;
  padding: 5px;
  background-color: #FBEBD4;
  opacity: 0.9;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  background-clip: padding-box;
}

.index-box h5 {
  margin: 0px;
}

.index-box p {
  margin: 0;
  font-weight: bold;
}

.index-left {
  /*display: inline-block;*/
  min-width: 113px;
  max-width: 40%;
  float: left;
}

.index-right {
  /*display: inline-block;*/
  max-width: 60%;
  float: right;
  padding-right: 3px;
}

.index-bottom {
  clear: both;
  width: 100%;
  text-align: center;
  display: flex;
}


.index-title {
  padding: 0px 0px 3px 5px;
}
.index-title a {
  color: #480000;
  font-weight: bold;
  font-size: 20px;
}

.index-title p {
  font-size: 14px;
}

.index-pic {
  float: center;
  margin: 0 auto;
  /*padding: 0px;*/
  background-color: #FFFFF0;
  /*border-radius: 5px;*/
  width: 100px;
  height: 100px;
  /*margin: 5px 0px 0px 5px;*/
  /*margin-left: 3px;*/
  /*margin-right: -3px;*/
  background-image: url("octopus0.3opacity.png");
  background-size: 100% 100%;
  text-align: center;
}

.index-location {
  padding-left: 5px;
}

@media only screen and (min-width: 640px) {
  .index-main {
    padding: 0px 20px;
  }
  /*.index-box {*/
    /*min-width: 400px;*/
    /*min-width: 300px;*/
    /*width: 100%;*/
/*    width: 95%;
    margin: 2% 1%;
    min-height: 200px;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }*/

/*  .index-box h5 {
    margin: 0px;
  }

  .index-box p {
    margin: 0;
    font-weight: bold;
  }*/

  /*.index-pic {*/
    /*background-color: #FFFFF0;*/
    /*border-radius: 5px;*/
    /*width: 155px;*/
    /*height: 155px;*/
    /*padding: 0px;*/
    /*margin: 20px 0px 0px 15px;*/
    /*background-image: url("octopus0.3opacity.png");*/
    /*background-size: 100%;*/
    /*text-align: center;*/
  /*}*/

/*  .index-box .button:hover {
     background-color: #827AA4;
    color: #FFFFF0;
  }


  .index-title a:hover {
    color: #827AA4;
    text-decoration: underline;
  }*/

}