.top-bar {
  width: 200px;
  float: left;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #2B2936;
  position:fixed;
}

.top-bar a {
  color: #EDD0AF;
}

.top-bar ul {
    background-color: #2B2936;
    border: none;
    border-top: 7px solid #EDD0AF;
    padding: 0px;
    margin: 0px;
}

.top-bar li {
  border: none;
  width: 100%;
}

.top-bar li a{
  width: 100%;
  color: #827aa4;
  font-size: 23px;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  border-radius: 40%/30%;
}

.top-bar li a:hover {
  background-color: #EDD0AF;
  color: #2B2936;
}

.top-bar h3 {
  margin-left: 22px;
  margin-top: 10px;
  color: #EDD0AF;
  font-size: 43px;
  line-height: 100%
}

nav {
  margin-left: -12px;
}

