.top-bar {
  width: 215px;
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #2B2936;
}

.top-bar ul {
    background-color: #2B2936;
    border: none;
}

.top-bar li {
  border: none;
  display: block;

}

.top-bar li a{
    color: #827aa4;
    font-size: 20px;
    font-weight: 500;
}

.selected {
  color: #EDD0AF;
}
.top-bar h3 {
  margin-left: 22px;
  margin-top: 10px;
  color: white;
  font-size: 43px;
  line-height: 100%
}



/*.top-bar {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	width: 100%;
	background-color: #816687;
	margin-bottom: 50px;
}

.top-bar ul {
	width: 80%;
	margin: 0 auto;
}
.top-bar li {
  float:left;
  width: 16.6%;
  text-align: center;
  border: none;
  font-size: 17px;
}

.top-bar li a:hover {
  color: white;
}

.top-bar a {
	color: black;
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
 /* transition:.3s;
}*/