.octopus {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: -2px -3px;
}

.octopus img {
  /*width: 60px;*/
  padding: 0px;
  opacity: 0.3;
}

.rated img {
  opacity: 1;
}

.rated {
  /*background-color: white;*/
  /*border: 1px solid black;*/
}

.rate img {
  opacity: 1;
}

.rate {
/*  border: none;*/
  /*background-color: white;*/
  /*opacity: 0.3;*/
}

.rating-button {
  position: fixed;
  opacity: 0;
}

#rating {
  display: inline-block;
  border-bottom: 1px solid;
  padding: 10px 0px;
}
