#faces {
  padding: 10px 0px 0px;
}
#face-background {
  background-color: #EDD0AF;
  padding: 10px 0px 20px 0px;
  border-radius: 20px;
}

.face {
  width: 50px;
  height: 50px;
  padding: 3px;
  display: inline-block;
  text-align: left;
  border-radius: 50%;
}

.face:hover {
  background-color: #FFFFF0;
}

.face img {
  padding: 2px;
  opacity: 0.4;
}

.face img:hover {
  opacity: 1;
}

.selected img {
  opacity: 1;
}

.selected {
  background-color: #FFFFF0;
}

.vibe-button {
  position: fixed;
  opacity: 0;
  /*top: 0;*/
}

.vibe-name {
  color: #2B2936;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  /*left: 15px;*/
  /*margin-top: -105px;*/
  opacity: 0;
}

.show-vibe {
  opacity: 1;
}