#week {
	margin: 0 auto;	
}

.week {
  display: block;
  border: 2px solid white;
  width: 100px;
  /*margin: 5px -3px;*/
}

.week:hover{
  background-color: white;
}

.week-label {
  font-size: 20px;
  padding: 0px 5px;
  color: white;
}

.week-selector {
  position: fixed;
  opacity: 0;
}

.time-of-week {
  background-color: yellow;
}