#week {
	margin: 0 auto;	
}

.week {
  display: block;
  /*border: 2px solid white;*/
  width: 100px;
  background-color: #FBEBD4;
  border-radius: 50%/40%;
  /*margin: 5px -3px;*/
}

.week:hover{
  background-color: #FFFFF0;
}

.week-label {
  font-size: 20px;
  padding: 0px 5px;
  color: #2b2936;
}

.week-selector {
  position: fixed;
  opacity: 0;
}

.time-of-week {
  /*color: #A893FF;*/
  background-color: #FFFFF0;
}

.time-of-week label {
  /*font-weight: bold;*/
  color: #A893FF;
}
