.venue-index-head {
	
}

.venue-index-venue {
	min-height: 200px;
	padding: 10px;
	border: 1px solid white;
	margin: 10px 0px;
	min-width: 753px;

}

.venue-index-venue h3 {
	margin: 0px;
}


.favorited-venue {
	border-bottom: 2px solid white;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.add-games {
	border-radius: 10px;
	margin-top: 15px;
}

<<<<<<< 9849aeb8411e14b66e1be06ffd9162549e029943
.venue-index-pic-container {
	font-weight: bold;
	color: white;
	width: 160px;
	height: 160px;
	border: 1px solid white;
	background-image: url("octopus0.3opacity.png");
	background-size: 100%;
}

.venue-index-pic-container p {
	padding: 45px 40px;
	opacity: 0.5;
}
=======
.venue-index-pic {
	border: 1px solid white;
	opacity: 0.2;
}
>>>>>>> add styling and remove quick-add games to venues
