#venue-show h2{
	/*color: white;*/
}

#venue-show-button-row .button {
	width: 100%;
	font-size: 16px;
	padding: 15px 0px;
}

#venue-show-button-row .button:hover {
	color: #FFFFF0;
  background-color: #827AA4;
}

/*#new-review-button {
	padding: 20px;
	font-size: 25px;
	border-radius: 20px;
	display: block;
	text-align: center;
}

#venue-event-create-link {
	margin-top: 15px;
  padding: 20px;
  font-size: 25px;
  border-radius: 20px;
  display: block;
  text-align: center;
  width: 70%;
}

#venue-event-create-link:hover, #new-review-button:hover {
}

#fav {
	width: 100px;
	height: 60px;
	margin: 25px 0px 0px 10px;
	white-space: normal;
	border-radius: 10px;
	font-weight: bold;
}*/

#review-index {
  width: 90%;	
	margin: 0px 5%;
}

.review-show-row {
	color: #2B2936;
  background-color: #EDD0AF;
  border-radius: 7px;
  min-width: 400px;
  min-height: 120px;
  padding: 0px 30px 10px 0px;
  margin-bottom: 15px;
}

.review-show-bottom-row {
	border-top: 2px solid #FFFFF0;
}

#reviews {
/*	border-left: 2px solid;
	padding-left: 10px;*/
}

#review-index {
/*	padding: 5px 0px 15px 0px;
	margin-bottom: 30px;*/
}

.review-date {
/*	font-size: 13px;
	font-weight: bold;
	margin: 0px;
	border-bottom: 1px solid;
	margin-right: 30px;*/
}

.review-rating {
	/*padding-top: 10px;*/
}

.review-content {
	padding-top: 30px;
}

.review-info-box {
	padding-top: 10px;
	border-bottom: 1px solid #FFFFF0;
	border-right: 7px solid #FFFFF0;
	border-bottom-right-radius: 30px;
}

#avg-rating {
	font-size: 20px;
	width: 260px;
	height: 170px;
}

@media only screen and (max-width: 575px) {
  #avg-rating {
  	/*text-align: center;*/
    height: 100%;
    padding-bottom: 20px;
  }
}

#rate-avg-rating {
	border: 3px solid;
	width: 100px;
	min-height: 100px;
	margin-top: 30px;
}

#venue-header {
	padding-bottom: 20px;
}

#venue-games {
	padding-bottom: 30px;
	/*margin-bottom: 40px;*/
	border-bottom: 5px solid #EDD0AF;
}

.display-game {
	/*text-align: center;*/
	display: inline-block;
	font-weight: bold;
	color: #FFFFF0;
	background-color: #827AA4;
	border-radius: 30%;
	/*border: 1px solid;*/
	padding: 4px 8px;
	min-width: 60px;
	height: 35px;
	margin: 0px 10px 5px 0px;
	/*float: center;*/
}

#submit-review {
	font-weight: bold;
	/*background-color: white;*/
}

#submit-review button {
	padding: 15px 20px;
	border-radius: 10px;
}

.formatted-review {
	/*line-height: .3;*/
}

#octopus-avg-rating {
	width: 250px;
	height: 50px;
	margin: 15px 0px 0px;
}

#dimmed, #opaque {
  width: 250px;
  height: 50px;
  position: relative;
}

#dimmed {
  opacity: .3;
  background: url("octopus.png") right;
  background-size: 50px 50px;
  width: 250px;
  height: 50px;
  float: right;
}

#opaque {
  background: url("octopus.png") left;
  background-size: 50px 50px;
  width: 0px;
  height: 50px;
  float: left;
}