
#venue-create-form {
	border: 2px solid rgba(43,41,54, 1.0);
  padding: 10px;
  font-weight: bold;
  text-align: center;
  color: #FFFFF0;
  background-color: #2B2936;
  opacity: 0.6;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#venue-create-form input {
	text-align: center;
	background-color: #FFFFF0;
	border-radius: 10px;
	opacity: 0.8;
}

#venue-create-games {
	padding-bottom: 10px;
}

.venue-create-game-button {
  position: fixed;
  opacity: 0;
	visibility: hidden;
}

.venue-create-game {
	display: inline-block;
	min-width: 10%;
	padding: 0px 10px;
	border-radius: 40%/50%;
	/*background-color: #2B2936;*/
	/*background-color: rgba(43,41,54, 1.0);*/
	border: 2px solid #2B2936;
	/*opacity: 1;*/
}

.venue-create-game p {
	margin-top: -10px;
}


.select-venue-game {
	color: #EDD0AF;
	background-color: #827AA4;
  border: 2px solid #827AA4;
}

#venue-create-submit-button {
	color: #2B2936;
	background-color: #FFFFF0;
}

#add-new-game {
	background-color: #827AA4;
	/*height: 100%;*/
	/*border: 1px solid black;*/
	/*display: inline-block;*/
	margin-left: -35px;
	padding: 12px 20px;
	/*width: 25%;*/
}

#other-text-field {
	/*display: inline-block;*/
	/*width: 60%;*/
}

.venue-create-game-label {
	display: inline-block;
}

.remove-venue-game-button {
	display: inline-block;
	padding: 4px;
	border: 2px solid;
	border-radius: 20%;
}
.remove-venue-game-button:hover {
	border: 2px solid #FFFFF0;
  background-color: #827AA4;
}
 
.results {
	color: #827AA4;
}