#venue-show h2{
	/*color: white;*/
}

#new-review-button {
	padding: 20px;
	font-size: 25px;
	border-radius: 20px;
	display: block;
	text-align: center;
}

#fav {
	width: 100px;
	height: 60px;
	margin: 25px 0px 0px 10px;
	white-space: normal;
	border-radius: 10px;
	font-weight: bold;
}

#reviews {
	border-left: 2px solid;
	padding-left: 10px;
}

#review-index {
	padding: 5px 0px 15px 0px;
	margin-bottom: 30px;
}

.review-date {
	font-size: 13px;
	font-weight: bold;
	margin: 0px;
	border-bottom: 1px solid;
	margin-right: 30px;
}

.review-rating {
	padding-top: 10px;
}

#avg-rating {
	font-size: 20px;
	width: 260px;
	height: 170px;
}

#rate-avg-rating {
	border: 3px solid;
	width: 100px;
	min-height: 100px;
	margin-top: 30px;
}

#venue-header {
	padding-bottom: 20px;
}

#venue-games {
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 3px solid;
}

.venue-game {
	display: inline-block;
	color: black;
	border: 1px solid;
	padding: 2px 5px;
	min-width: 60px;
	height: 30px;
	margin-right: 10px;
}

.review-content {
	padding-top: 30px;
	border-left: 1px solid rgba(255, 255,255, .3);
}

#submit-review {
	font-weight: bold;
	/*background-color: white;*/
}

#submit-review button {
	padding: 15px 20px;
	border-radius: 10px;
}

.formatted-review {
	line-height: .3;
}

#octopus-avg-rating {
	width: 250px;
	height: 50px;
	margin: 15px 0px 0px;
}

#dimmed, #opaque {
  width: 250px;
  height: 50px;
  position: relative;
}

#dimmed {
  opacity: .3;
  background: url("octopus.png") right;
  background-size: 50px 50px;
  width: 250px;
  height: 50px;
  float: right;
}

#opaque {
  background: url("octopus.png") left;
  background-size: 50px 50px;
  width: 0px;
  height: 50px;
  float: left;
}