#venue-show h2 {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	/*color: white;*/
}

#venue-show p {
	text-align: center;
}

@media only screen and (min-width: 640px) {
	#venue-show h2 {
		font-size: 40px;
		/*font-weight: bold;*/
		/*text-align: left;*/
	}
}

@media only screen and (min-width: 1024px) {
	#venue-show h2 {
		font-size: 60px;
		/*font-weight: bold;*/
		text-align: left;
	}
	#venue-show p {
		text-align: left;
	}
}

#venue-show-button-row .button {
	width: 100%;
	font-size: 16px;
	padding: 15px 0px;
}

#venue-show-button-row .button:hover {
	color: #FFFFF0;
  background-color: #827AA4;
}

#review-index {
  width: 90%;	
	margin: 0px 5%;
}

.review-show-row {
/*	color: #2B2936;
  background-color: #EDD0AF;
  border-radius: 7px;
  min-width: 260px;
  min-height: 120px;
  padding: 0px 30px 10px 0px;
  margin-bottom: 15px;*/
}

@media only screen and (min-width: 640px){
	.review-show-row {
		/*width: 30%;*/
	}
}


.review-show-bottom-row {
	border-top: 2px solid #FFFFF0;
}

#reviews {
/*	border-left: 2px solid;
	padding-left: 10px;*/
}

#review-index {
/*	padding: 5px 0px 15px 0px;
	margin-bottom: 30px;*/
}

.review-date {
/*	font-size: 13px;
	font-weight: bold;
	margin: 0px;
	border-bottom: 1px solid;
	margin-right: 30px;*/
}

.review-rating {
	/*padding-top: 10px;*/
}

#full-review-content {
	color: #480000;
	background-color: #FFFFF0;
	padding: 15px 5px;
}

@media only screen and (min-width: 640px){
	#full-review-content {}
}

.review-info-box {
	padding: 10px 0px 0px 1%;
	/*padding-top: 10px;*/
	border-bottom: 3px solid #31AB3C;
	border-right: 7px solid #31AB3C;
	border-left: 5px solid #FFFFF0;
	border-bottom-right-radius: 30px;
	/*border-bottom-left-radius: -100px;*/
	background-color: rgba(244, 174, 53, 0.2);
	margin: 10px 0px;
	/*width: 30%;*/
	/*min-width: 230px;*/
}

@media only screen and (min-width: 640px){
	.review-info-box {
		padding-left: 8px;
	}
}

#avg-rating {
	font-size: 20px;
	width: 260px;
	height: 170px;
}

@media only screen and (max-width: 575px) {
  #avg-rating {
  	/*text-align: center;*/
    height: 100%;
    padding-bottom: 20px;
  }
}

#rate-avg-rating {
	border: 3px solid;
	width: 100px;
	min-height: 100px;
	margin-top: 30px;
}

#venue-header {
	padding-bottom: 20px;
}

#venue-games {
	padding-bottom: 30px;
	/*margin-bottom: 40px;*/
	border-bottom: 5px solid #EDD0AF;
}

#submit-review {
	font-weight: bold;
	/*background-color: white;*/
}

#submit-review button {
	padding: 15px 20px;
	border-radius: 10px;
}

.formatted-review {
	/*line-height: .3;*/
}

#octopus-avg-rating {
	width: 250px;
	height: 50px;
	margin: 15px 0px 0px;
}

#dimmed, #opaque {
  width: 250px;
  height: 50px;
  position: relative;
}

#dimmed {
  opacity: .3;
  background: url("octopus.png") right;
  background-size: 50px 50px;
  width: 250px;
  height: 50px;
  float: right;
}

#opaque {
  background: url("octopus.png") left;
  background-size: 50px 50px;
  width: 0px;
  height: 50px;
  float: left;
}