#welcome-box {
	margin: 5% 7% 0px;
}

.welcome-button-box {
	border-radius: 20px;
	margin: 10% 0px;
	text-align: center;
}

.welcome-button-box a {
	padding: 40px 0px;
	font-size: 46px;
	font-weight: bold;
	display: block;	
	/*color: #2C1B13;*/
	background-color: rgba(44, 27, 19, 1);
	color: #A893FF;
}

.welcome-button-box a:hover {
	color: #A893FF;
	background-color: rgba(44, 27, 19, 0.7);
	text-decoration: none;
}

.welcome-form-box {
	visibility: hidden;
	position: fixed;
}

@media only screen and (min-width: 640px) {
	#welcome-button-box {
		margin-top: 15%;
	}
}

#form-box {
	width: 20%;
	min-width: 180px;
	margin: 0px 40%;
	top: 10%;
	text-align: center;
	max-width: 300px;
}

#new-login form {
	margin-top: 30%;
	padding: 30px;
  /*border-top-left-radius: 10px;*/
  /*border-top-right-radius: 10px;*/
}

#login-form, #new_user, .edit_user {
	padding-bottom: 20px;
	/*border-bottom-left-radius: 10px;*/
	/*border-bottom-right-radius: 10px;*/
	/*font-size: 30px;*/
	/*text-align: center;*/
}

#login-form h4, #new_user h4, .edit_user h4 {
	/*color: #FFFFF0;*/
	/*text-align: center;*/
}

#login-form input, #new_user input, .edit_user input {
	/*height: 30px;*/
	/*border-radius: 10px;*/
	/*background-color: #FFFFF0;*/
}
#choose-pic-text {
	font-size: 16px;
	color: white;
}
#user_photo {
	color: #2C1B13;
	/*border-radius: 3px;*/
	font-size: 16px;
}

#user-birthday {
	/*display: inline-block;*/
	color: #FFFFF0;
	font-size: 16px;
	font-weight: bold;
	height: 35px;
	padding: 0px;
	margin: 0px;
}

@media only screen and (min-width: 640px) {
	#user-birthday {
		font-size: 20px;
	}
	#login-form input, #new_user input, .edit_user input {
		height: 35px;
		/*font-size:;*/
	}
}

#new_user select, .edit_user select {
	height: 35px;
	background-color: #FFFFF0;
	/*padding: 0;*/
	border-radius: 10px;
	/*width: 30%;*/
	margin: 0px;
	position: relative;
	top: 0;
	/*margin-top: -30px;*/
}

#new_user textarea, .edit_user textarea {
	background-color: #FFFFF0;
	border-radius: 10px;
	height: 100%;
}

#user-birthday-label {
	display: inline-block;
	margin: 0px;
	/*display: inline-block;*/
	/*padding-right: 15px;*/
	width: 25%;
}

#user_birthday_1i {
	margin-top: -10px;
	width: 20%;
}

#user_birthday_2i {
	width: 30%;
}
#user_birthday_3i {
	width: 15%;
}

#login-button, #register-button {
	padding: 10px;
	margin: 15px 0px 0px;
	background-color: #FFFFF0;
	color: #2B2936;
}

.ui-dialog-titlebar {
	min-height: 30px;
	background-color: #2B2936;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
/*.ui-dialog-titlebar > * {
	position: absolute;
	right: 10px;
	top: 7px;
	color: white;
	height: 15px;
	margin: 0 auto;
}

.ui-dialog-titlebar > *:hover {
	background-color: transparent;
}*/

