#welcome-box {
	margin: 5% 7% 0px;
}

.welcome-button-box {
	border-radius: 20px;
	margin: 10% 0px 0px;
	text-align: center;
}

.welcome-button-box a {
	height: 135px;
	padding: 40px 0px;
	font-size: 46px;
	font-weight: bold;
	display: block;	
	/*color: #2C1B13;*/
	background-color: rgba(44, 27, 19, 1);
	color: #A893FF;
}

.welcome-button-box a:hover {
	color: #A893FF;
	background-color: rgba(44, 27, 19, 0.7);
	text-decoration: none;
}

.welcome-form-box {
	visibility: hidden;
	position: fixed;
}

@media only screen and (min-width: 640px) {
	#welcome-button-box {
		margin-top: 15%;
	}
}

#choose-pic-text {
	font-size: 16px;
	color: white;
}
#user_photo {
	color: #2C1B13;
	/*border-radius: 3px;*/
	font-size: 16px;
}

#user-birthday {
	/*display: inline-block;*/
	color: #FFFFF0;
	font-size: 16px;
	font-weight: bold;
	height: 35px;
	padding: 0px;
	margin: 0px;
}

@media only screen and (min-width: 640px) {
	#user-birthday {
		font-size: 20px;
	}
	#login-form input, #new_user input, .edit_user input {
		height: 35px;
		/*font-size:;*/
	}
}

#new_user select, .edit_user select {
	height: 35px;
	background-color: #FFFFF0;
	/*padding: 0;*/
	border-radius: 10px;
	/*width: 30%;*/
	margin: 0px;
	position: relative;
	top: 0;
	/*margin-top: -30px;*/
}

#user_bio {
	background-color: #FFFFF0;
	border-radius: 10px;
}

@media only screen and (min-width: 640px) {
	#user_bio {
		min-height: 140px;
		max-height: 190px;
		margin-top: 20px;
	}
}

#user-birthday-label {
	display: inline-block;
	margin: 0px;
	/*display: inline-block;*/
	/*padding-right: 15px;*/
	width: 25%;
}

#user_birthday_1i {
	margin-top: -10px;
	width: 20%;
}

#user_birthday_2i {
	width: 30%;
}
#user_birthday_3i {
	width: 15%;
}

