<%= stylesheet_link_tag "index" %>
<body id="welcome-body">
  <div id="login">
    <a href="/login">Login</a>
  </div>
  <div id="form-container">
  </div>
  <div id="register">
    <a href="/users/new">Register</a>
  </div>
</body>