<div class="row align-center">
	<div class="small-12 medium-10 columns">
		<h1>Pub Gamer</h1>
		<h1 id="under-header">Pub Gamer</h1>
	</div>
</div>
<div class="row" id="welcome-box">
	<div class="small-6 columns welcome-column">
    <div class="welcome-button-box"><a id="login" href="/login">Login</a></div>
    <%= render partial: '/sessions/login_form' %>
  </div>
  <div class="small-6 columns welcome-column">
    <div class="welcome-button-box"><a id="register" href="/users/new">Register</a></div>
    <%= render partial: '/users/registration_form' %>
  </div>
</div>

<div id="form-box">
</div>

