<div id="notice" class="row columns align-center">
  <% if notice %>
<p class="text-center"><%= notice[0] %></p>
<% end %>
</div>

<div class="row small-up-1 medium-up-2" id="welcome-box">

  <div class="columns welcome-button-box">
    <a class="button" id="login" href="/login">Login</a>
    <div class="welcome-form-box">
      <%= render partial: '/sessions/login_form' %>
    </div>
  </div>

  <div class="columns welcome-button-box">
    <a class="button" id="register" href="/users/new">Register</a>
    <div class="welcome-form-box">
      <%= render partial: '/users/registration_form' %>
    </div>
  </div>
</div>

<div id="form-box">
</div>

<!-- <div class="row" id="welcome-box">
  <div class="small-12 columns welcome-column">
    <div class="welcome-button-box">
      <a class="button" id="login" href="/login">Login</a>
    </div>
    <div class="welcome-form-box">

    </div>
    <div class="welcome-button-box">
      <a class="button" id="register" href="/users/new">Register</a>
    </div>
    <div class="welcome-form-box">

    </div>
  </div>
</div>

<div id="form-box">
</div> -->
