<link rel="stylesheet" href="../stylesheets/index.css">
<%= stylesheet_link_tag "index" %>
<div id="homepage">
<!--   <form action="/login" method="get">
    <input type="submit" value="Login">
  </form>
  <form action="/users/new" method="get">
    <input type="submit" value="Register">
  </form> -->

  <div id="login">
    <a href="/login">Login</a>
  </div>
  <div id="form-container">
  </div>
  <div id="register">
    <a href="/users/new">Register</a>
  </div>

</div>