/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.modal
 *= require foundation_and_overrides

 */

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: rgba(44, 27, 19, 0.4);
}

body > * {
  color: #2C1B13;
  outline: none;
}

body div {
  position: relative;
}

#content {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100%;
  background-image: url(backgroundPoolPic.jpg);
  background-size: 100% 100%;
  background-position: cover;
  background-attachment: fixed;
}

#main {
  padding-top: 5px;
  overflow: auto;
  padding-bottom: 100px;
}

#foot {
  border-top: 1px solid #31AB3C;
  text-align: center;
  background-color: #FBEBD4;
  position: relative;
  margin-top: -100px;
  height: 100px;
  width: 100%;
  clear: both;
}

#foot p {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0px;
}

.submit-button {
  font-weight: bold;
  outline: none;
  padding: 5px 10px;
}

@media only screen and (min-width: 640px) {
  #main {
    padding-top: 10px;
  }
  .submit-button {
    /*height: 36px;*/
  }
}

.dragscroll {
  cursor: url('mouseArrow.png'), all-scroll;
}

body ul{
  list-style-type: none;
}

body a {
  text-decoration: none;
}

body ul li {
  display: inline-block;
  padding: 0px 10px;
  margin: 0px -3.5px;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

body ul a {
  text-decoration: none;
}

a {
  color: #A893FF;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #A893FF;
  text-decoration: underline;
}

h1 {
  text-align: center;
  font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
  font-size: 150px;
  font-weight: bold;
  color: #2b2936;
}

input:focus {
  outline: none;
}

input:invalid {
  border: 3px solid #F4AE35;
}

input:valid {
  /*border: 3px solid #31AB3C;*/
}

input:valid[type="submit"] {
  border: none;
}

.errors-box {
  font-weight: bold;
  color: red;
  font-size: 14px;
  margin-top: -5px;
}
.errors-box p {
  padding: 0px;
  margin: 0px 0px 3px;
}

@media only screen and (min-width: 640px) {
  .errors-box {
    font-size: 14px;
  }
  .errors-box p {
    margin: 0px 0px 5px;
  }
}

.display-game {
  display: inline-block;
  font-weight: bold;
  color: #FFFFF0;
  background-color: #2C1B13;
  /*background-color: rgba(44, 27, 19, 0.9);
  /*background-color: #31AB3C;*/
  /*border-radius: 10px;*/
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom: 1px solid #F4AE35;
  padding: 4px 8px;
  min-width: 60px;
  height: 35px;
  margin: 0px 10px 5px 0px;
  /*float: center;*/
}

.pagination > * {
  float: left;
}

/* For Jquery UI dialog modal:*/
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #939393;
  opacity: 0.9;
}
.ui-front {
  z-index: 100;
  position: fixed;
}

.ui-dialog {
  color: #2C1B13;
  background-color: #2C1B13;
  border-radius: 10px
}

.ui-dialog #view-venue-on-map {
  padding: 3%;
}

.ui-dialog form {
  padding: 3%;
  font-size: 30px;
  text-align: center;
  color: #FBEBD4;
  background-color: #2C1B13;
  border-radius: 10px;
}

.ui-dialog form label {
  color: #FBEBD4;
}

.ui-dialog form input,
.ui-dialog form textarea {
  text-align: center;
  background-color: #FFFFF0;
  height: 25px;
  border-radius: 5px;
}

.ui-dialog form .button {
  margin-top: 10px;
  color: #2C1B13;
  background-color: #FBEBD4; 
}

@media only screen and (min-width: 640px) and (min-height: 500px) {
  .ui-dialog form input,
  .ui-dialog form textarea {
    height: 35px;
    border-radius: 10px;
  }
}

.ui-dialog form tbody {
border: none;
}

.ui-dialog form table tr {
  text-align: left;
  border: none;
  font-size: 14px;
  /*height: 36px;*/
  background-color: #2C1B13;
  /*padding: 0;*/
}
.ui-dialog form table td {
  padding: 5px 0px 3px 10px;
}

.ui-dialog form table td:first-child {
  text-align: right;
  padding: 5px 5px 3px 0px;
}

.ui-dialog .table-div {
  display: inline-block;
  padding: 1px 5px;
  margin: 0px 5px 0px 0px;
  border: 1px solid #FBEBD4;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 4px;
}

.ui-dialog-titlebar {
  height: 0px;
  z-index: 99;
}

.ui-dialog-titlebar-close, .ui-dialog-titlebar-close:hover, .ui-dialog-titlebar-close:focus {
  position: absolute;
  right: 3px;
  top: 3px;
  color: #2C1B13;
  padding: 5px;
  font-weight: bold;
  background-color: #FBEBD4;
  /*background-color: #FFFFF0;*/
  border-radius: 10px;
}

.ui-dialog-titlebar-close:hover, .ui-dialog-titlebar-close:focus {
  text-decoration: underline;
}

.ui-state-focus {
  font-weight: bold;
  color: #2C1B13;
}

* {
  outline: none;
}

.past-event-fade {
  opacity: 0.4;
}

.past-event-fade >* {
  opacity: 0.4;
}

.cancel-fade {
  opacity: 0.5;
}

.button {
  border-radius: 2px;
}