#event-create-box {
  visibility: hidden;
  position: fixed;
}

.event-status {
	padding: 10px 15px 0px;
}

.event-status form input {
	margin-bottom: 0px;
}

.index-bottom-info div {
	display: inline-block;
}
