#event-show-title > * {
	font-weight: bold;
}

.event-show-side {
	width: 98%;
	opacity: 0.8;
  background-color: #FBEBD4;
  margin-bottom: 10px;
}

.event-attendee-container {
	min-width: 33%;
	float: left;
}

.side-1 {
	float: left;
	margin-left: 5%;
	padding: 5px;
}
.side-2 {
	float: right;
	width: 58%;
}

.side-2 p {
	margin: 3px 0;
}
.side-2 h5 {
	margin-top: 7px;
	margin-bottom: 0;
	font-weight: bold;
	border-top: 4px solid;
}

#event-middle {
	width: 100%;
}

#event-description {
	min-height: 40%;
	/*background-color: rgba(251, 235, 212, 0.6);*/
	background-image: linear-gradient(
  to right, 
  rgba(251, 235, 212, 0.2), 
  rgba(251, 235, 212, 0.8),
  rgba(251, 235, 212, 0.8),
  rgba(251, 235, 212, 0.8), 
  rgba(251, 235, 212, 0.2)
  );
}
#event-description h5 {
	font-weight: bold;
	text-decoration: underline;
}

#event-description p {
	font-weight: normal;
	padding: 10px 20px;
}

#event-right {
	width: 90%;
	height: 300px;
	float: left;
	margin-left: 1%;
	margin-bottom: 60px;
}

@media only screen and (min-width: 640px) {
	.event-show-side {
		float: left;
		width: 20%;
	  margin-right: 2%;
	  padding: 10px 5px;
	}

	.side-1, .side-2 {
		float: none;
		width: 100%;
	}
	.side-1 {
		margin-left: 0;
	}

	.side-2 {
		clear: both;
	}

	#event-middle {
		font-weight: bold;
		float: left;
		width: 35%;
		margin: 0 4%;
	}

	#event-right {
		border-left: 2px solid rgba(251, 235, 212, 0.4);
		height: 450px;
		width: 31%;
	}

	.event-show-side .your-event {
		width: 60%;
		padding-bottom: 60%;
	}
}

.event-show-side .your-event{
	width: 50%;
	padding-bottom: 50%;
	margin: 0px 20% 20px;
}

 .event-show-side .leave-event, .event-show-side .join-event {

 }

#event-show-comments::-webkit-scrollbar {
	width: 10px;
	visibility: hidden;
}

#event-show-comments::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	visibility: hidden;
}

#event-show-comments::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(49, 171, 60, 0.8); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#event-show-comments {
	height: 70%;
	overflow: hidden;
	border-bottom: 5px solid rgba(251, 235, 212, 0.2);
}

#event-show-comments:hover {
	overflow-y: scroll;
}
#event-show-comments a {
	color: #2C1B13;
}

#event-comment-new {
	margin-top: 10px;
}

#event-comment-new textarea {
	min-height: 80px;
	color: #2C1B13;
	background-color: #FBEBD4;
}

.event-comment p {
	border-radius: 5px;
	/*background-color: rgba(49, 171, 60, 0.5);*/
	background-color: rgba(251, 235, 212, 0.7);
	padding: 5px 15px;
	margin: 0 10px 10px 0;
	border-top: 2px solid #31AB3C;
	border-left: 2px solid #31AB3C;
	border-bottom: 2px solid #F4AE35;
	border-right: 2px solid #F4AE35;
}

.event-comment h6 {
	overflow: hidden;
	font-size: 10px;
	min-width: 20%;
	max-width: 65%;
	max-height: 20px;
	padding-top: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: rgba(251, 235, 212, 0.7);
	/*border-top: 2px solid #FBEBD4;*/
	border: 2px solid #F4AE35;
	border-top: 2px solid rgba(251, 235, 212, 0.5);
	margin-top: -12px;
	margin-left: 30px;
}

.event-comment h6 a {
	font-size: 12px;
	font-weight: normal;
	margin-right: 15px;
}
.comment-date {
	margin-left: 10px;
}

.side-1 form {
	text-align: center;
	width: 50%;
	float: left;
}

@media only screen and (min-width: 640px) {
	.side-1 form {
		margin: 0 auto;
		float: none;
	}	
}

.user-event-buttons {
	margin: 0 auto;
}

.user-event-buttons form {
	width: 30px;
	height: 30px;
	float: none;
	display: inline-block;
}

.edit-event, .delete-event {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: none;
	background-color: #FBEBD4;
	background-size: 100% 100%;
}

.edit-event {
	background-image: url(icons/edit/brown.png);
}

.delete-event {
	background-image: url(icons/delete/brown.png);
}

.past-edit-event {
	background-image: url(icons/edit/orange.png);
}

.past-delete-event {
	background-image: url(icons/delete/orange.png);
}