#event-venue-results ul {
  font-size: 15px;
}

#event-create-form textarea {
  height: 60px;
}

#event-create-games {
  height: 130px;
  overflow-y: scroll;
  border-bottom: 3px solid rgba(244, 174, 53, 0.3);
}

#event-add-game {
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-top: -10px;
  border-bottom: 3px solid rgba(244, 174, 53, 0.3);
}

#event-add-game >* {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

#event-add-game button {
  padding: 5px;
  margin: 0px;
}

@media only screen and (min-width: 640px) and (min-height: 500px) {
  #event-create-form textarea {
    height: 120px;
  }

  #event-create-games {
    min-height: 25%;
  }
}

.game-button {
  opacity: 0;
}


.event-game {
  border: 1px solid #A893FF;
  border-right: none;
  float: center;
  min-width: 20%;
  display: inline-block;
  border-radius: 7px;
  padding: 0px 3px;
  margin: 2px 1px;
}
.event-game div {
  margin-top: -12px;
  margin-bottom: -2px;
}

.event-game p, .event-game a {
  font-size: 16px;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  /*margin-top: -10px;*/
}

.event-game a {
  font-size: 12px;
  font-weight: bold;
  border: 1px solid;
  padding: 0px 3px;
  border-radius: 1px;
}

#event-create-button-div, #event-edit-button-div {
  clear: left;
}

#event-create-submit-button {
  margin-top: 10px;
}

.event-create-game-input {
  position: absolute;
  display: none;
}

.event-date-time-row input {
  padding: 4px;
  font-size: 14px;
}