.octopuzzle {
	position: relative;
}

.octopuzzle h1 {
	color: rgb(44, 27, 19);
	font-size: 50px;
}

.puzzle-box {
	border: 5px solid rgb(44, 27, 19);
	width: 250px;
	height: 250px;
	margin: 0 auto;
}

.puzzle-piece {
	float: left;
	box-sizing: border-box;
	border: 1px solid rgba(255, 127, 80, 0.3);
	/*border: 1px solid rgba(44, 27, 19, 0.3);*/
}

.puzzle-piece.solved {
	border: none;
}

#octopuzzle-start-button, #octopuzzle-reset-button, #octopuzzle-random-button {
	border: 2px solid rgb(44, 27, 19);
	margin: 5px 2px;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate-270 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

#a {
	background: url(octoPuzzle/hatoctopus.png) 0 0;
}
#b {
	background: url(octoPuzzle/hatoctopus.png) -80px 0;
}
#c {
	background: url(octoPuzzle/hatoctopus.png) -160px 0;
}
#d {
	background: url(octoPuzzle/hatoctopus.png) 0 -80px;
}
#e {
	background: url(octoPuzzle/hatoctopus.png) -80px -80px;
}
#f {
	background: url(octoPuzzle/hatoctopus.png) -160px -80px;
}
#g {
	background: url(octoPuzzle/hatoctopus.png) 0 -160px;
}
#h {
	background: url(octoPuzzle/hatoctopus.png) -80px -160px;
}
#i {
	background: url(octoPuzzle/hatoctopus.png) -160px -160px;
}
#a, #b, #c, #d, #e, #f, #g, #h, #i {
	width: 80px;
	height: 80px;
	background-size: 240px;
}

.win-message {
	padding-top: 44px;
	position: absolute;
	text-align: center;
	font-size: 100px;
	font-weight: bold;
	color: #A893FF;
	width: 248px;
	height: 250px;
	bottom: 52px;
	border: 3px solid orange;
	left: 50%;
	margin-left: -124px;
	background: rgba(44, 27, 19, 0.6);
	display: none;
}
