.pagination {
	display: inline-block;
}
.pagination > * {
	font-weight: bold;
}

.pagination a {
	/*padding: 10px;*/
	border-radius: 50%;
	color: #480000;
}

.pagination a:hover {
	color: #480000;
	background-color: #A893FF;
}

.pagination .current {
	border-radius: 50%;
	color: #480000;
	background-color: #A893FF;
}

.pagination .current:hover {
	color: #FBEBD4;
	background-color: #A893FF;
}
