.octopus {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: -2px -3px;
  border-radius: 50%;
}

.octopus img {
  /*width: 60px;*/
  padding: 0px;
  opacity: 0.3;
}

.rated img {
  opacity: 1;
}

.rated {
  background-color: #FFFFF0;
  /*border: 1px solid black;*/
}

.rate img {
  opacity: 1;
}

.rate {
/*  border: none;*/
  background-color: #FFFFF0;
  /*opacity: 0.3;*/
}

.rated:hover {
  background-color: rgba(100, 100, 94, 0.2);

}

.rating-button {
  position: fixed;
  opacity: 0;
}

#rating {
  display: inline-block;
  border-bottom: 1px solid #EDD0AF;
  padding: 10px 0px;
  background-color: #FBEBD4;
  border-radius: 5px;
}
