#faces {
  padding: 10px 0px 0px;
}
#face-background {
  background-color: #FBEBD4;
  border-radius: 20px;
  padding-bottom: 10px;

}

@media only screen and (min-width: 640px) {
  #face-background {
    padding: 10px 0px 20px 0px;
  }
}

.face {
  width: 60px;
  height: 60px;
  padding: 3px 6px;
  /*padding: 15px;*/
  margin: 0px 5px;
  display: inline-block;
  text-align: left;
  border-radius: 50%;
}

.face:hover {
  background-color: #FFFFF0;
}

.face img {
  padding: 2px;
  opacity: 0.4;
}

.face:hover > img {
  opacity: 1;
}

.selected img {
  opacity: 1;
}

.selected {
  background-color: #FFFFF0;
}

.selected:hover {
   background-color: rgba(100, 100, 94, 0.2);
}

.vibe-button {
  position: fixed;
  opacity: 0;
  /*top: 0;*/
}

.vibe-name {
  color: #480000;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  /*left: 15px;*/
  /*margin-top: -105px;*/
  opacity: 0;
}

.show-vibe {
  opacity: 1;
}