.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active, 
.ui-autocomplete, .ui-autocomplete:hover, 
.ui-menu-item, .ui-menu-item:hover,
.ui-menu-item a, .ui-menu-item a:hover,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active,
.ui-menu .ui-menu-item a
{ background: #ffffff none no-repeat; 
padding:0;
margin:0;
display:block;
border:0;
border-collapse: collapse;
}

.results {
	position: absolute;
	border: none;
	z-index: 7;
	max-width: 100%;
}

ul.ui-autocomplete {
	position: absolute;
	width: 90%;
	border-top: 1px dashed #2C1B13;
}


ul.ui-autocomplete li {
	background-color: #FFFFF0;
	color: #2C1B13;
	font-size: 22px;
	font-weight: bold;
	padding-left: 7px;
	display: block;
	border: none;
	border-bottom: 2px solid #2C1B13;
	width: 100%;
	height: 30px;
	border-top: none;
	overflow: hidden;
	text-align: left;
}
@media only screen and (min-width: 640px) {
	ul.ui-autocomplete {
		width: 40%;
	}
}

/* should be .ui-state-focus*/
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	color: #FBEBD4;
	background-color: #A893FF;
	padding-left: 7px;
	border-bottom: 1px solid #2C1B13;
}

.ui-helper-hidden-accessible {
	visibility: hidden;
}
