#week {
	margin: 0 auto;	
}

.week {
  display: block;
  width: 100px;
  background-color: #FBEBD4;
  border-radius: 50%/40%;
}

.week:hover{
  background-color: #FFFFF0;
}

.week-label {
  font-size: 20px;
  padding: 0px 5px;
}

.week-selector {
  position: fixed;
  opacity: 0;
}

/*highlights selected time of week*/
.time-of-week {
  background-color: #FFFFF0;
}
