#venue-show {
	position: relative;
}

#venue-show h2 {
	font-size: 24px;
	font-weight: bold;
	/*color: white;*/
}

#venue-show p {
	text-align: center;
}

@media only screen and (min-width: 640px) {
	#venue-show h2 {
		text-align: center;
		line-height: 38px;
		font-size: 36px;
	}
}

@media only screen and (min-width: 1024px) {
	#venue-show h2 {
		font-size: 60px;
		text-align: left;
	}
	#venue-show p {
		text-align: left;
	}
}

.show-favorite-notice p {
	background: #F4AE35;
	border-radius: 5px;
}

#view-map, #add-game-link, #add-game-button {
	padding: 2px 8px;
	border-radius: 10px;
	background-color: #FBEBD4;
	border: 1px solid #A893FF;
}

#add-game-link {
	display: inline-block;
}

#add-games, #cancel-add-game-link {
	display: none;
}

#add-game-input {
	width: 80%;
	margin: 0 10%;
	border-radius: 10px;
}

@media only screen and (min-width: 640px){
	#add-game-input {
		width: 30%;
		margin: 0 35%;
	}
}

#venue-show-button-row .button {
	width: 100%;
	font-size: 16px;
	padding: 15px 0px;
}

#venue-show-button-row .button:hover {
	color: #FFFFF0;
  background-color: #827AA4;
}

#review-index {
  width: 90%;	
	margin: 0px 5%;
}

.review-show-bottom-row {
	border-top: 2px solid #FFFFF0;
}

.review-info-row {
	border-top: 1px solid #2C1B13;
}

#review-content {
	text-align: center;
	padding: 10px;
	height: 250px;
	overflow-y: scroll;
	color: #2C1B13;
	border-top: 5px solid rgba(44, 27, 19, 0.7);
	border-left: 1px solid rgba(44, 27, 19, 0.5);
	border-right: 1px solid rgba(44, 27, 19, 0.5);
	background-color: #FFFFF0;
}

#review-content p {
	line-height: 10px;
}

.review-info-box {
	padding: 10px 0px 0px 1%;
	border-right: 7px solid rgba(44, 27, 19, 0.9);
	border-bottom: 3px solid rgba(44, 27, 19, 0.9);
	border-left: 5px solid transparent;
	background-clip: padding-box;
	border-bottom-right-radius: 30px;
	background-color: rgba(251, 235, 212, 0.8);
	margin: 10px 0px;
}

@media only screen and (min-width: 640px){
	.review-info-box {
		padding-left: 8px;
	}
}

.review-info-row {
	background-color: #FBEBD4;
	margin: 0px;
	padding: 10px;
	border-bottom: #31AB3C;
}

.review-bottom-row {
	position: relative;
	bottom: 0;
	background-color: #FBEBD4;
	border: none;
	border-top: 1px solid #31AB3C;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.reviewed-by {
	 border-top: 3px solid rgba(251, 235, 212, 1.0);
}

.reviewed-by p {
	display: inline-block;
	font-size: 11px;
}

.delete-review {
	font-size: 12px;
}

.review-date {
	font-size: 11px;
}

#avg-rating {
	font-size: 20px;
	width: 250px;
	height: 80px;
	margin: 0 auto;
}

#rate-avg-rating {
	border: 3px solid;
	width: 100px;
	min-height: 100px;
	margin-top: 30px;
}

#venue-header {
	padding-bottom: 20px;
}

#venue-games {
	padding-bottom: 30px;
}

#show-map {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

#view-venue-on-map {
	margin-top: 30px;
}

#submit-review {
	font-weight: bold;
}

#submit-review button {
	padding: 15px 20px;
	border-radius: 10px;
}

#octopus-avg-rating {
	width: 250px;
	height: 50px;
	margin: 15px 0px 0px;
}

#dimmed, #opaque {
  width: 250px;
  height: 50px;
  position: relative;
}

#dimmed {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
  opacity: .3;
  background: url("octopus.png") right;
  background-color: #FBEBD4;
  background-size: 50px 50px;
  width: 250px;
  height: 50px;
  float: right;
}

#opaque {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
  background: url("octopus.png") left;
	background-color: #FBEBD4;
  background-size: 50px 50px;
  width: 0px;
  height: 50px;
  float: left;
}

#venue-show-list {
	margin-left: 0px;
	list-style: none;
	padding-left: 0px;
	text-align: left;
}

#venue-show-list h2 {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-right: 5px;
	/*background-color: rgba(168,147,255, 0.4);*/
}

#venue-show-list .arrow {
	margin-right: -8px;
}

#venue-show-list li {
	border: none;
	padding: 0px;
	margin: 0;
	text-align: left;
	text-decoration: none;
}


#venue-show-list li a {
	color: #2C1B13;
	margin: 0;
	width: 120px;
}

#venue-show-list li a:hover {
	text-decoration: none;
}

#venue-show-dropdown {
	padding: 0;
	margin: 0;
	margin-top: -4px;
	position: absolute;
	z-index: 7;
	border: none;
	background-color: rgba(168,147,255, 0.7);
	display: none;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	width: 160px;
}



@media only screen and (min-width: 640px){
	#venue-show-dropdown {
		margin-top: -10px;
	}

	#venue-show-list .arrow {
		margin-right: -20px;
	}
}

#venue-show-dropdown li {
	display: inline;
	border: none;
}

#venue-show-dropdown li a {
	border-bottom: 1px dotted;
	display: block;
	color: #2C1B13;
	padding: 5px 0px 5px 17px;
	width: 100%;
}

#venue-show-dropdown li a:hover {
	background-color: rgba(168,147,255, 0.7);
}

.purple-background {
	background-color: rgba(168,147,255, 0.4);
}

.show-title {
	position: relative;
}

#venue-show {
	z-index: 1;
}

#venue-show h2 {
	display: inline;
	position: relative;
	z-index: 3;
}

#get-venue-address, #view-map {
	position: relative;
	z-index: 3;
}

#venue-show .user-status {
	right: 10px;
	width: 90px;
	height: 90px;
	/*z-index: 2;*/
}



@media only screen and (min-width: 640px){
	#venue-show .user-status {
		right: 5px;
	}
}

.venue-show-bottom {
	font-size: 12px;
	margin-bottom: 3px;
}

.venue-show-bottom p {
	margin: 3px 0px;
	display: inline-block;
}

.review-header h3 {
	display: inline-block;
	font-size: 31px;
}

.read-more-review {
	font-size: 12px;
	padding: 10px;
}