.venue-index-rating-box {
	display: inline-block;
	width: 75%;
}

.fav-button-div {
	display: inline-block;
}

.venue-index-remove-button, .venue-index-fav-button {
	padding: 0px;
	margin: 0px;
	width: 50px;
	height: 50px;
	background-size: 50px;
	/*border: 2px solid #2C1B13;*/
	background-color: transparent;
}

#toggle-venue-view-links p {
	font-size: 17px;
	font-weight: normal;
	color: #2C1B13;
	text-decoration: none;
}
#toggle-venue-view-links a {
	color: #2C1B13;
	font-weight: bold;
	text-decoration: underline;
	padding: 4px 5px;
	border-radius: 4px;
}

.view-box {
	display: none;
}

.selected-view {
	font-weight: normal;
	background-color: rgba(168, 147, 255, 0.6);
	text-decoration: none;
}

