#welcome-box {
	margin: 5% 7% 0px;
}

.welcome-button-box {
	margin: 10% 0px 0px;
	text-align: center;
}

.welcome-button-box a {
	max-width: 240px;
	height: 110px;
	margin: 0 auto;
	padding: 30px 0px 25px;
	font-size: 40px;
	font-weight: bold;
	display: block;
	background-color: rgba(44, 27, 19, 1);
	color: #A893FF;
}

.welcome-button-box a:hover {
	color: #A893FF;
	background-color: rgba(44, 27, 19, 0.7);
	text-decoration: none;
}

.welcome-form-box {
	visibility: hidden;
	position: fixed;
}

@media only screen and (min-width: 640px) {
	#welcome-button-box {
		margin-top: 15%;
	}
}

#choose-pic-text {
	font-size: 16px;
	color: white;
}
#user_photo {
	color: #2C1B13;
	font-size: 16px;
}

#user-birthday {
	color: #FFFFF0;
	font-size: 16px;
	height: 35px;
	padding: 0px;
	margin: 0px;
}

@media only screen and (min-width: 640px) {
	#login-form input, #new_user input, .edit_user input {
		height: 35px;
	}
}

#new_user select, .edit_user select {
	height: 35px;
	background-color: #FFFFF0;
	border-radius: 10px;
	margin: 0px;
	position: relative;
	top: 0;
}

.edit_user .submit-button {
	margin-top: 0px;
}

#user_bio {
	background-color: #FFFFF0;
	border-radius: 10px;
	font-size: 12px;
}

@media only screen and (min-width: 640px) {
	#user_bio {
		min-height: 140px;
		max-height: 190px;
		margin-top: 20px;
		font-size: 16px;
		margin-top: 0px;
	}

	.up-16 {
		margin-top: -16px;
	}
}

#user-birthday-label {
	display: inline-block;
	margin: 0px;
	width: 25%;
}

#user_birthday_1i, #user_birthday_2i, #user_birthday_3i {
	padding: 4px 16px 4px 6px;
	font-size: 14px;
}

#user_birthday_1i {
	margin-top: -10px;
	width: 20%;
}

#user_birthday_2i {
	width: 30%;
}
#user_birthday_3i {
	width: 15%;
}

