<div id="week center-text" >
	<div class="week text-right" id="midweek">
    <%= label_tag "Mid-Week", nil, class: "week-label" %>
    <%= radio_button_tag "review[week]", "Mid-Week", false, class: "week-selector" %>
  </div>
 	<div class="week text-right" id="weekend">
    <%= label_tag "Weekend", nil, class: "week-label" %>
    <%= radio_button_tag "review[week]", "Weekend", false, class: "week-selector" %>
  </div>
</div>